<!-- Important to route articles -->
<nav class="p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Image logo -->
    <a class="flex items-center" [routerLink]="['/']">
      <img src="assets/logo.jpg" alt="Logo" class="h-10 w-10" />
      <h1 class="text-xl font-bold ml-3 text-blue-600">EBookings</h1>
    </a>
    <!-- Nav links -->
    <div class="flex gap-4">
      <a
        [routerLink]="['/events']"
        class="text-black text-xl font-bold hover:text-gray-300"
        >Events</a
      >
      @if(authService.isAuthenticated()){
      <button
        class="text-black text-xl font-bold hover:text-gray-300"
        (click)="logout()"
      >
        Logout
      </button>
      <a
        [routerLink]="['/profile']"
        class="text-black text-xl font-bold hover:text-gray-300"
        >Profile</a
      >
      <a
        [routerLink]="['/cart']"
        class="text-black text-xl font-bold hover:text-gray-700 relative"
        ><fa-icon [icon]="cartIcon" class="mr-2"></fa-icon>
        <div
          class="absolute  text-red-600 -top-3 -right-2"
          *ngIf="cartItems > 0"
        >
          {{ cartItems }}
        </div>
      </a>
      } @else{
      <a
        [routerLink]="['/login']"
        class="text-black text-xl font-bold hover:text-gray-300"
        >Login</a
      >
      <a
        [routerLink]="['/signup']"
        class="text-black text-xl font-bold hover:text-gray-300"
        >Register</a
      >
      }
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
