<!-- Important to route articles -->
<nav class="p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Image logo -->
    <a class="flex items-center" [routerLink]="['/']">
      <img src="assets/logo.jpg" alt="Logo" class="h-10 w-10" />
      <h1 class="text-xl font-bold ml-3 text-blue-600">EBookings</h1>
    </a>
    <!-- Nav links -->
    <div>
      <a
        [routerLink]="['/events']"
        class="text-black text-xl font-bold hover:text-gray-300"
        >Events</a
      >
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
