<h1 class="text-center font-bold text-3xl my-2 container mx-auto">
  Your Booking History
</h1>
<div class="flex flex-col gap-6 container mx-auto">
  @if(bookingHistory.length === 0){
  <div class="text-center text-gray-600">
    <p>You have not booked any events yet.</p>
  </div>
  <button>
    <a
      [routerLink]="['/events']"
      class="text-white bg-indigo-400 px-3 py-2 rounded-xl"
    >
      Start Booking Your First Event
    </a>
  </button>
  } @for (booking of bookingHistory; track $index) {
  <div class="shadow-xl px-3 py-2">
    <div>
      <h3 class="text-lg font-semibold text-gray-700">
        {{ booking.eventName }}
      </h3>
      <p class="text-sm text-gray-600">{{ booking.description }}</p>
    </div>

    <div class="my-3">
      <p class="text-lg font-bold text-black">Details</p>
      <div>
        <h3 class="text-sm text-gray-600">
          <span class="font-semibold">Name</span>: {{ booking.name }}
        </h3>
        <p class="text-sm text-gray-600">
          <span class="font-semibold">Email</span>: {{ booking.email }}
        </p>
        <p class="text-sm text-gray-600">
          <span class="font-semibold">Ph</span>: {{ booking.phoneNumber }}
        </p>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <svg
          class="w-5 h-5 text-gray-500 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
          ></path>
        </svg>
        <span class="text-gray-700">{{ booking.eventDate }}</span>
      </div>
      <div class="flex items-center">
        <svg
          class="w-5 h-5 text-gray-500 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
          ></path>
        </svg>
        <span class="text-gray-700">{{ booking.eventLocation }}</span>
      </div>
    </div>
    @for (ticket of booking.tickets; track $index) {
    <div class="bg-white rounded-lg p-4">
      <div class="flex justify-between items-center">
        <div>
          <h3 class="text-lg font-bold text-red-500">
            {{ ticket.ticketName }}
          </h3>
          <p class="text-black">₹{{ ticket.totalPrice / ticket.quantity }}</p>
          <p class="text-gray-500 text-sm">
            <span class=""> Tickets Bought: </span>{{ ticket.quantity }}
          </p>
        </div>
      </div>
    </div>
    } @if(booking.couponCodeApplied){
    <app-coupon-view
      [couponCode]="booking.couponCodeApplied"
      [couponDiscount]="booking.discountPercentage"
    >
    </app-coupon-view>
    <div class="flex flex-col bg-gray-100 p-3 rounded-md">
      <div class="flex items-center justify-between">
        <p class="text-sm text-gray-600">Booking Price</p>
        <p class="text-lg font-bold text-gray-800">
          {{ booking.totalPrice * (100 / booking.discountPercentage) }}
        </p>
      </div>
      <div class="flex items-center justify-between">
        <p class="text-sm text-gray-600">Discount Amount</p>
        <p class="text-lg font-bold text-red-500">
          -{{
            booking.totalPrice * (100 / booking.discountPercentage) -
              booking.totalPrice
          }}
        </p>
      </div>
    </div>
    }

    <div class="flex flex-col bg-gray-100 p-3 rounded-md">
      <div class="flex items-center justify-between">
        <p class="text-sm text-gray-600">Final Price</p>
        <p class="text-lg font-bold text-black">{{ booking.totalPrice }}</p>
      </div>
    </div>
    <div class="text-sm text-gray-600 mt-3">
      <p>Booked on: {{ booking.bookedAt }}</p>
    </div>
    <button
      (click)="cancelBooking(booking.id)"
      class="mt-3 bg-indigo-400 px-2 py-3 rounded-xl text-white"
    >
      Cancel
    </button>
  </div>
  }
</div>
